[2015-09-28 09:41] rdkleine opened #2 "A possibility to NOT automap"
When mapping a large dto we'd like to ignore all properties which aren't mapped.
So when we have a dto like
{
propa: 'a',
propb: 'b'
propc: 'c'
.....
propz: 'z'
}

And we just want to have as a result:
{
propa: 'a1234'
}

It would be much less code to just to create a mapping for propa and auto ignore b > z. Now I have to write ignore for b > z.

[2015-09-28 14:06] loedeman commented on #2
Hi Ralf, thanks for the suggestion. My goal with AutoMapper in TypeScript has been to reflect the original AutoMapper implementation as closely as possible. The scenario you suggest is available as an extension to the original AutoMapper implementation (http://stackoverflow.com/questions/954480/automapper-ignore-the-rest). Since it is quite easy to implement in the TypeScript implementation, you m

[2015-09-28 14:09] #2 closed

[2015-09-28 14:27] rdkleine commented on #2
thanks :+1:

[2015-09-30 06:30] taeke opened #3 "Feature request: asynchronous mapping"
As discussed yesterday: It would be great to have an extra mapping function which does not return the result but accepts a callback. It would make it possible, for example when you're working in an angular environment which has promisses, to do something (in pseudo code) like this:

automapper
    .createMap(fromKey, toKey)
    .convertUsing(function (resolutionContext : AutoMapperJs.IResolutionCo

[2015-09-30 07:19] loedeman commented on #3
Hi Taeke,

Thanks for suggesting. I will look into technical feasibility for this feature request in the nearby future. This feature will probably not be used very often (although there certainly is a use case for it, in particular where custom type converters are used), therefore it should not slow down 'normal' automapper execution.

I will keep you posted!

Cheers, Bert

[2015-10-01 05:01] taeke commented on #3
5:35 AM :)
autmapper.map('ISource', 'ng.IPromise<IDestination>').then

[2015-10-05 16:34] taeke commented on #3
https://github.com/taeke/AsyncAutomapper

[2015-10-09 09:15] runes83 opened #4 "AssertMappings"
Does there exist a function to check if mappings are done similar to the .NET version?

This is very handy to know if all properties on an object have been mapped

[2015-10-09 12:53] loedeman commented on #4
Not yet, but we are thinking about / planning for such a function. You should take in consideration though that nog evergreens is possible, since three is basically no typing in JavaScript. I will keep you posted on progress ;) . Should you have any ideas, those are most welcome ;) ...

On Fri, Oct 9, 2015 at 2:15 AM -0700, "Rune Synnevåg" <notifications@github.com<mailto:notifications@github.com>

[2015-10-09 12:57] runes83 commented on #4
Hello,

When you use typescript there is typings, and here it will make a lot of sense. Would be a very nice tool to have.

Regards
Rune

Fra: Bert Loedeman [mailto:notifications@github.com]
Sendt: fredag 9. oktober 2015 14:54
Til: ArcadyIT/AutoMapper <AutoMapper@noreply.github.com>
Kopi: Rune Synnevåg <rune.synnevaag@unipluss.no>
Emne: Re: [AutoMapper] AssertMappings (#4)

Not yet, but we are thi

[2015-10-14 15:32] loedeman commented on #4
I started working on a validation mechanism (automapper.assertConfigurationIsValid()). However, as I stated before, there is not a lot of typing at runtime in JavaScript. Currently, the maximum I seem to be able to reach is:

* Create a mapping configuration using class definitions instead of strings (possible in 1.4.0). Note that in order to get properties available on class initialization, you h

[2015-10-17 01:06] loedeman commented on #3
Thanks Taeke! I am currently implementing full asynchronous mapping support in AutoMapper. Just wait a couple of days for me to remove some sharp edges before giving it a try ;) ... Of course, you can already have a look at the source code ;) ...

[2015-10-17 22:30] loedeman commented on #3
Asynchronous mapping is now fully supported in AutoMapper on createMap.forMember, createMap.forSourceMember and createMap.convertUsing functions. When using asynchronous mapping, it is not possible to use the synchronous map function, use mapAsync instead.

[2015-10-17 22:30] #3 closed

[2015-10-17 22:32] loedeman commented on #4
Hi Rune, for now, I am closing this issue. I will leave the issue open for comments, should you have any comments on the currently available assertion possibilities, your remarks are most welcome ;) ...

[2015-10-17 22:32] #4 closed

[2015-11-16 08:53] klaasjs opened #5 "definitly typed"
The typedefinitions are not available at https://github.com/DefinitelyTyped/DefinitelyTyped. Is there any chance they are added to the definitelytyped repository in the future?

[2015-11-16 09:45] loedeman commented on #5
Hi klaasjs,

It appears the DefinitelyTyped library is pretty crowded and it's not that easy to get your type definitions in there. When using Bower or NPM, the definition file is delivered to the client and can be used in a controlled manner. That's why we did not perform a really serious attempt to get it there. Should you really want the definition file to be in the DefinitelyTyped repo, I woul

[2015-11-16 10:03] klaasjs commented on #5
Hi Bert,

I'll try to get it in there because now my build system has to refer to ./typings/**/*.d.ts and ./bower_components/arcady-automapper/arcady-automapper.d.ts'. I rather have it all in ./typings :) I will keep you up to date of my progress.

Klaas

[2015-11-16 10:07] loedeman commented on #5
Thanks a lot, Klaas!

[2015-11-20 12:50] Duskfall opened #6 "Nested properties in array"
Hello i would like to ask you how is it possible to map from an Array a nested property to a model.
Example:

    var foos = [ { type : { id : 1, name :  "test" } , spec :  { id : 1, name :  "test" } },
                        { type : { id : 1, name :  "test" } , spec :  { id : 1, name :  "test" } }
                     ];

    //var myWantedModel : { type : foos[0].type.name } for example

If i

[2015-11-23 12:41] loedeman commented on #6
Hi Duskfall,

Currently, this is not possible with AutoMapper. Every conversion is performed on the single item level. You could of course map from a source array to a destination array (this is supported out of the box) and afterwards combine the results into one object. Does this help you? Otherwise, could you please specify which business need you try to cover? If creating support for your busi

[2015-11-23 12:48] loedeman commented on #5
Hi Klaas, did you make any progress publishing the AutoMapper type definition file to the DefinitelyTyped repository? Cheers, Bert

[2015-11-23 13:12] klaasjs commented on #5
Hi Bert,

I'm stuck with the travis part in the [contribution guide](http://definitelytyped.org/guides/contributing.html). I then tried the tsd link feature which let's you add some custom configuration to (apparently) package.json or bower.json but this also didn't work like expected. Work in progress..

Klaas

[2015-11-24 10:43] Duskfall commented on #6
Hi @loedeman  thanks for reply, i want to map a business logic dto which is different than my UI model!
I managed to do this chaining the mapping

    .forMember('type', function (opts) { return opts.sourceObject.type ? opts.sourceObject.type.name : null })
    .forMember('uiType', (opts) => opts.mapFrom('type'))
    .forMember('uiType', (opts) => {return opts.sourceObject.type.name })

Dto is an

[2015-11-25 10:29] loedeman commented on #6
Hi @Duskfall, thanks for clarification. Do I understand you completely, when I consider the following code as the solution you originally would have wanted to have?

[code]

This syntax does feel 'right' to me as well, it should not be very hard to get it working too... If this code would be helpful, I will give it a try ;) ...

[2015-11-25 11:27] Duskfall commented on #6
Yeah exactly! In MVC we have this syntax for this kind of case
ForMember(dest => dest.Type, opt => opt.MapFrom(src => src.Type.Name));

[2015-12-03 23:16] loedeman commented on #6
Hi @Duskfall, you should now be able to use nested mapping. It has been more of a hassle than I initially expected, but everything works on my end now (you could have a look at the unit tests if you like). There is some work to do in order to get the code nicer and smoother, but I do not expect the functionality to be buggy...

PS. The package has been relocated and renamed though, I would be plea

[2015-12-03 23:16] #6 closed

[2015-12-04 12:02] Duskfall commented on #6
Just tested it and worked fine! Cheers!

[2015-12-14 23:04] loedeman commented on #5
Klaas, I am closing this issue for stats sake ;) ... I will leave the comments open, should you be succesful adding the definition files to the DefinitelyTyped repository, please comment on this issue ;) ...

[2015-12-14 23:04] #5 closed

[2015-12-15 06:47] klaasjs commented on #5
will do!

[2016-01-13 11:24] zivni opened #7 "node.js support"
Hi

I downloaded AutoMapper via npm to include it in my TypeScript node.js application.
but couldn't.
How can I import/require it?

Thanks
Ziv

[2016-01-13 14:52] loedeman commented on #7
Hi Ziv,

Could you please tell me exactly what you are trying to do (e.g. how you install, try to reference and use the library)?

Cheers, Bert

_____________________________
From: zivni <notifications@github.com<mailto:notifications@github.com>>
Sent: woensdag, januari 13, 2016 12:24
Subject: [AutoMapper] node.js support (#7)
To: loedeman/AutoMapper <automapper@noreply.github.com<mailto:automappe

[2016-01-17 00:48] MatthewLymer commented on #7
It doesn't look like the package meets NPM specifications for use in Node.JS, specifically, it's missing the 'index.js'

Typically, you should be able to do:

And then use it in your project via:

    var mapper = require('automapper-ts'); // or var mapper = require("arcady-automapper");

but `mapper` is not an automapper instance.

It looks like a cool project, I am a big fan of the C# AutoMapper

[2016-01-17 07:25] loedeman commented on #7
Hi Matthew,

Thanks for the clarification!

I did not specifically build AutoMapper for use in Node.js, hence the missing index.js file. However, it does not seem a big deal for me to make that happen. If you have little time to wait, I will give it a try this week ;) ...

It would be great if you would give it a try afterwards ;) ...

Cheers! Bert

On Sat, Jan 16, 2016 at 4:48 PM -0800, "Matthew

[2016-01-17 16:41] MatthewLymer commented on #7
Yes definitely, I would like to give it a try!

[2016-01-18 20:03] loedeman commented on #7
Hi @MatthewLymer ,

I just checked in a small fix which does seem to function on my machine. Since I have limited experience in Node.js, I would be more than happy if you could give it a try!

Cheers, Bert

[2016-02-01 21:11] loedeman commented on #7
Hi @zivni and @MatthewLymer ,

I am closing this issue, sinces there has been no communication about the fix since 14 days. Should there still be any problem using AutoMapper with Node.js, I would be more than happy to reopen this issue...

Cheers, Bert

[2016-02-01 21:11] #7 closed

[2016-02-01 21:13] MatthewLymer commented on #7
Hey sorry about that, I haven't had a chance to try it out, I am planning on looking at it on the weekend, I'll let you know if it doesn't work.

[2016-02-01 21:32] loedeman commented on #7
No problem at all @MatthewLymer ;) ... Thanks for your support, I look forward to hearing from you soon ;) ... Cheers, Bert

[2016-02-08 04:32] MatthewLymer commented on #7
Hello Bert,
I was playing around with it in node today, and so far everything looks good, behaves as expected.

Thanks for making the change!

Cheers,
Matthew

[2016-02-08 06:33] loedeman commented on #7
Thanks for testing Matthew! Glad it does work now ;) ! Cheers!

[2016-03-08 17:24] dgroh opened #8 "Ignoring not working?"
I just used the sample from the repository, but the ignore is not working. The proclaimedAge is being printed out.

Here is my code:

[code]

[2016-03-08 17:25] dgroh opened #9 "Nested properties?"
How can we map nested properties?

[2016-03-08 17:48] loedeman commented on #9
Hi, a couple of unit tests are covering nested property mapping. Please have a look at them for the best explanation I could possibly give you ;) ... Cheers, Bert

[2016-03-08 17:48] #9 closed

[2016-03-14 20:19] loedeman commented on #8
Hi @dgroh, could you please paste your complete sample **and the compiled result in JavaScript**? The test covering this exact same functionality does work like expected. I think there is something not working as expected on your end... Cheers, Bert

[2016-03-14 20:29] loedeman commented on #8
Excuse me @dgroh I have reconstructed your scenario. It appears you are right: when no options are specified but only withProfile() the functionality does not seem to work like expected. Expect a fix soon ;) . Thanks for reporting this bug! Cheers, Bert

[2016-03-14 20:50] #8 closed

[2016-03-14 20:57] loedeman commented on #8
@dgroh A new release, v1.6.3, is just published to NPM. Thanks for your help! Cheers, Bert

[2016-03-15 13:11] dgroh commented on #8
brilliant, thank you very much @loedeman

[2016-03-18 16:08] dgroh opened #10 "No able to concatenate values"
Hello, I've been struggling to concatenate **firstName **+ **lastName** to a **displayName** property. I tried several approaches based on the tests, but unsuccessful. I'm pretty sure this should be straight forward, but I don#t find any references.

That is my code:

[code]

Of course I know this is never going to work, as `mapFrom` is a **void** method, but I also tried other approaches, even wi

[2016-03-18 20:50] loedeman commented on #10
Hi @dgroh, nice to know you are trying to reach goals beyond documentation ;) ... It is definitely possible to reach the goal you are trying to reach. In fact, you have a couple of options to get there. The missing link in your code is stacking forMember calls (which is the idea which automapping). Here is a sample doing the job (in JS, since I often reproduce in a small index.html file ;) ):

[co

[2016-03-18 20:50] #10 closed

[2016-04-22 07:58] Duskfall opened #11 "Example in Getting-started doesn't work"
I am using the automapper and it used to work nicely but not now it seems. I need the functionallity that you present in the "getting started guide", to add new properties to destination model.

If we run the code:

    var objA = { prop1: 'From A', prop2: 'From A too', prop3: 'Also from A (really)' };

    automapper
       .createMap('sourceType', 'destinationType')
       .forMember('prop1', fu

[2016-04-22 11:23] jrusinek commented on #11
I second the first issue. Adding new members doesn't work.

[2016-04-22 11:55] loedeman commented on #11
Thanks for using AutoMapper and reportage those issues. I will have a look next week, on a vacation right now ;)...

[2016-04-22 12:40] Duskfall commented on #11
Have fun!

[2016-04-28 21:27] loedeman commented on #11
I checked the first one, the example in the getting started guide does no longer work indeed. Ignoring a member completely ignores it, even if it was mapped from another property before. However, this works just fine for the example:

[code]

The part of adding new members does not work either, I just fixed that one ;) ...

I will have a look at the 'null object' and create a new release after tha

[2016-04-28 21:49] loedeman commented on #11
Hi @Duskfall @jrusinek ,

Just released v1.6.4 which should have solved your issues. Please let me know if it does not ;).

Cheers!

[2016-04-28 21:49] #11 closed

[2016-05-05 08:11] m1llen1um opened #12 "webpack integration"
This library looks vary promising and I want to integrate it in our new project, but I have some **problems integrating it with webpack**. Also will be great if there is a [Typings](https://github.com/typings/typings) which we can include in our typings.json

Simple example I'm trying to make run:

1. Create project from _[yo generator-typescript-webpack](https://www.npmjs.com/package/generator-ty

[2016-05-05 19:42] loedeman commented on #12
Hi, I have never worked with WebPack myself, I am afraid I can't help you much on that part. Feel free to fill me in with more details, maybe I can help more if I understand what is going wrong...

A TypeScript definition file is available in the /dist/ folder.

[2016-05-11 10:06] m1llen1um commented on #12
Hi, thanks for the feedback! I find a way to run your lib. Still it's walkaround. Here is my repo with a
[demo app](https://github.com/m1llen1um/fooapps-automapper-ts).

I had to **modify** the **automapper.d.ts** so the webpack (with commonjs) can find it as a module. I will go with this approach unless you can offer better solution. Still [Typings](https://github.com/typings/typings) will be gre

[2016-06-08 13:27] loedeman commented on #12
Hi @m1llen1um, I would suggest you to try the 1.7.0 release. This release should fix your issue (alongside others ;)). Good luck and happy coding! Cheers, Bert

[2016-06-08 13:27] #12 closed

[2016-07-18 23:02] hwong668 opened #15 "Is there an easy way to deal with Source object having null values"
We have a nested source object like:
{
   homeAddress: {
      address1: '100 Main St',
      address2: 'Apt# 1',
      city: 'Los Angeles',
      state: 'CA',
      zip: '90000'
   },
   businessAddress: {
      address1: '200 Main St',
      city: 'Los Angeles',
      state: 'CA',
      zip: '90000'
   }
}

However, homeAddress sometimes could be null because businessAddress is filled in.  When

[2016-09-06 22:12] adamjbradley commented on #15
I have a similar situation, though for me, using your data in my example homeAddress would not be present at all! This is true of all other attributes in the inbound message - it's a SCIM 2.0 PUT request. Hoping there's a neat way to use AutoMapper to cater for this.

[2016-09-06 22:22] loedeman commented on #15
Hi both, thanks for commenting! I have been busy lately starting my own IT consultancy firm ;). I will try to react in detail somewhere this week! Thanks for your patience! Cheers, Bert

[2016-09-08 22:17] #15 closed

[2016-09-08 22:22] loedeman commented on #15
Hi both, I have just pushed a fix (1.7.2) to the repository. I will push it to NPM as soon as possible. Please let me know if this fix does work for you. FYI, if you specify nested mappings, you currently have to specify all of them, since the current solution does either use auto mapping or property mapping. I did already write a unit test to reproduce this issue, the fix is a bit harder than I w

[2016-09-21 10:38] lujop opened #16 "Using with a project that use modules"
Can you provide a sample of how to use the library in an angular project that use modules.
Does the library export any module?

[2016-10-19 20:03] doorman02 opened #17 "Using AutoMapper in Angular2"
Hi @loedeman, thanks for the AutoMapper library. I am trying to use it with angular2 and I installed it via npm. My project is a webpack project. Do you have an example on how to use it with angular2?

Thanks!

[2016-10-21 07:05] loedeman commented on #16
Hi lujop, thanks for your question. I hope you are already using AutoMapper in the configuration you asked me about. In that case, please keep me posted!

Since v1.7.0 AutoMapper does export the AutoMapper object in a way WebPack and UMD are working. It should therefore also work for you ;) ...

Currently, I don't work with Angular myself. Are you referring to AngularJS (v1) or Angular (v2)? I am

[2016-10-21 07:07] loedeman commented on #17
Hi doorman02,

Thanks for your question. I am currently starting an Angular (v2) project. I will give AutoMapper a shot in the project as soon as the project starts rolling smoothly. Should you be earlier, I hope you wouldn't mind keeping me posted!

Cheers, Bert

[2016-10-21 09:01] loedeman commented on #17
I just created a basic Angular app using Angular CI. Getting AutoMapper to function correctly is quite easy, if you follow the guidelines for using an 3rd party library (https://github.com/angular/angular-cli#3rd-party-library-installation). An excerpt:

- Install the automapper-ts library using npm: `npm install automapper --save`
- Add the following line to the file _typings.d.ts_: `declare modu

[2016-10-21 09:01] #17 closed

[2016-10-21 09:42] doorman02 commented on #17
Great thanks 👍

[2016-10-21 10:16] lujop commented on #16
No, I was not able to use it.
I tried in an Angular V2 project, but I've to say that I'm very newbie in JS , modules and Angular world.

[2016-10-21 10:55] loedeman commented on #16
Thanks for your reply. You should have a look at issue #17. I did try using AutoMapper in Angular (v2) myself and succeeded that mission quite easily. In the mentioned issue, I documented the (minimal) steps to take for an Angular project. Of course, you can implement a module yourself to wrap the 'global' behaviour into something injectable ;)...

[2016-10-21 10:55] #16 closed

[2016-11-02 12:25] GregOnNet opened #18 "Small correction for Getting Started Guide"
Hi,

thanks for bringing `AutoMapper` to the JS-World. :tada:

I experienced another mapping-behavior than described in the wiki.

When I use the following sample (written below) I expect to get *Result A* but I get *Result B*.
Since `prop1` has a value in the sourceType `mapFrom` seems not to be respected in the map.

- If I change the name of `prop2`, `mapFrom` works.

## Sample
[code]

### Resu

[2016-11-02 22:35] loedeman commented on #18
Hi Gregor,

Thanks a lot for reporting! I will look into this issue soon. You are definitely right that Result A is the result you should expect. I wonder why hundreds of people use the library without ever stumbling upon this one ;) ...

Cheers, Bert

[2016-11-07 23:23] rmalveis opened #19 "Auto ignore properties when Destination Class does not have that property"
Hi.
I was using this lib, but I'm missing this functionality.
How can I achieve this using current implementation?

Here is a testCase to clarify:
[code]

(Just adding this test case to your current set it fails).

I didn't waste too much time analyzing and I think I made simple-minded solution, but you can check it and please feel free to make it safer or toggleable...
Can I open a pull request f

[2016-11-08 10:36] loedeman commented on #18
Hi Gregor,

Just reproduced this issue using a Jasmine unit test, but discovered this (apparently small) issue needs a major overhaul of the AutoMapper core. Since there is almost 100% code coverage, this won't be a big deal, but still a major time consumer. I have to find a free night to get this one done. I hope this won't bother you too much!

Cheers, Bert

[2016-11-08 10:49] GregOnNet commented on #18
Hi Bert,

thanks for diving deeper into the problem.
I have no problem to wait.

Kinds
Gregor

[2016-11-09 21:47] loedeman commented on #19
Hi @rmalveis ! Thanks for creating this issue and your PR. I just merged the PR (kudoos for your work!). I am currently developing on a fix for the other open issue, which I am planning to push this week. This fix requires quite a lot of refactoring, therefore it is not yet ready to push with confidence ;) ... If you are okay with it, I would like to create one release solving both issues at once.

[2016-11-10 11:58] rmalveis commented on #19
Hey @loedeman !
Releasing this week sounds good!
Let me know when it comes live.

Cheers.

[2016-11-15 12:54] loedeman commented on #19
Hi @rmalveis,

I just created release 1.8.0 (https://github.com/loedeman/AutoMapper/tree/1.8.0), which contains your merged PR. Please let me know if you encounter any issue (or create a PR to fix them if you feel like it ;-) ). Thanks!

Happy coding!

[2016-11-15 12:54] #19 closed

[2016-11-15 12:55] loedeman commented on #18
Hi @GregOnNet,

I just created release 1.8.0 (https://github.com/loedeman/AutoMapper/tree/1.8.0), which contains a fix for the issue you created. Please let me know if you encounter any issue (or create a PR to fix them if you feel like it ;-) ). Thanks!

Happy coding!

[2016-11-15 12:55] #18 closed

[2016-11-15 13:03] GregOnNet commented on #18
Hi @loedeman,

it works :tada:.
Thanks for your support.

Kinds
Greg

[2016-11-15 18:36] rmalveis commented on #19
Thanks! I'll update in my project... if something weird appear I'll let you know.... or fix it :D

Cheers.

[2016-11-19 20:10] grandy01 commented on #16
Hello, Bert.

I'm developing a node.js server with TypeScript (2.0). I want to use your library, but I'm having trouble with importing it. I try to
`import AutoMapperJs from 'automapper-ts';`
and get "File '/home/.../node_modules/automapper-ts/dist/automapper.d.ts' is not
 a module.". Can please explain how to use the library in this case? Also, I think it would be useful to add such information t

[2016-11-19 21:03] loedeman commented on #16
Hi Andrei,

It makes sense why the package is not importing like you would expect it to do: I didn't create the package as a module (yet).

I am planning to make the package importable, but that takes some thorough thinking, since the package is already being used quite heavily the way it currently works... I am considering a scenario like creating a second package with source code sharing to real

[2016-11-19 21:13] grandy01 commented on #16
@loedeman Actually, they've switched to the instance-based behavior in C# Automapper, maybe that's the reason I was trying to import you lib as a module :)

Ok, so I assume it should work as a global variable and globally-accessed classes, but in fact it didn't work either. The compiler complained he didn't recognize the variable. Should add smth to my .tsconfig? (I assume I don't have to, but ask

[2016-11-21 13:27] loedeman commented on #16
Lol, I know they did! I am not there yet 😀... About the automapper.d.ts file: you could try adding that one in your typing a configuration if it is not picked up automatically (in order to get typing to work). Of course you can also test if AutoMapperTS has been loaded by logging the automapper object to the console 😉...

[2016-11-22 20:13] eugenekgn opened #21 "Map and ignore mapped value"
Let's say I have the following objects
[code]

lets say I map B.b => A.a, and ignore B.b.

this code crashes

[code]

[2016-11-22 21:07] loedeman commented on #21
Hi @eugenekgn,

Wow, that's a complex piece of code you are presenting :)... Could you please upload the full code crashing (including 'map', 'BtoA' and potential other code pieces leading to your situation - maybe a zip/rar)? Of course I will be more than happy to reproduce your issue and hopefully to present a fix asap.

Cheers, Bert

[2016-11-23 00:57] staff0rd commented on #16
I found this also, but in node so thought it was a regression of #7, however it seems the fix was just to add the following to the bottom of `automapper.d.ts`;

[code]

After doing so I was able to properly import and execute automapper tasks using the following;

[code]

[2016-11-23 01:01] staff0rd opened #22 "Google Closure Compiler support"
I guess it's a little obvious that this doesn't work with Google Closure Compiler, notably with `ADVANCED_OPTIMIZATIONS`, considering automapper-ts refers to types and properties via strings that will be not be changed when the compiler changes types and property names.

Any thoughts for supporting this? (or to officially not support it ;)).

[2016-11-23 08:12] loedeman commented on #22
Hi @staff0rd,

I do not currently consider supporting the Google Closure compiler officially.

Having that clarified: I think AutoMapperTS will just work with the Closure compiler in most cases (e.g. mapping results from REST API JSON objects). If you are intending only using AutoMapperTS in your heavily optimized application, I indeed think this won't work with for(Source)Member calls. There is n

[2016-11-23 08:12] #22 closed

[2016-11-23 14:17] eugenekgn commented on #21
Hi there,

It would be fairly challenging to isolate this use case, I might be explaining this clear enough but all I am trying to do is map property {B.b} to {A.a} , and since B object still has property B.a has the same named property which A has which is {A.a} I am trying to prevent auto mapping.

The outcome that I want to have is the following

[code]

Please let me know if this make more sen

[2016-12-16 16:48] eugenekgn opened #23 "Convert forMemeber(source, target)"
How would I convert ```isFallged``` which is ```= 1``` to ```true```?

[code]

[2016-12-22 14:31] Frankst2 opened #24 "Automapping of arrays does not work?"
Hi,
I'm not sure if this is a real issue and/or just an unsupported usage of AutoMapper: I wonder if I should be able to use arrays for the mapping (in mapFrom). E.g. take the following map in JavaScript:
automapper
        .createMap('sourceType', 'destinationType')
        .forMember('description', function (opts) { opts.mapFrom('Ticket[0].Title'); })
        .forMember('severity', function (opt

[2016-12-22 14:50] loedeman commented on #24
Hi @Frankst2 ,

The .mapFrom function does require you specify a property name. Providing an array indexer won't work. You should try using intermediate values instead. Please have a look at the Jasmine tests for usage examples ;) ...

Cheers, Bert

[2016-12-22 14:50] #24 closed

[2016-12-29 01:06] ricardoccpaiva commented on #17
i'm i missing something ?
i'm having this error : `TypeError: Cannot read property 'createMap' of undefined` when trying to `automapper.createMap('SourceType', 'DestinationType');`

[2017-01-05 10:09] loedeman commented on #23
Hi @eugenekgn,

You can always stack forMember calls, like this:

[code]

[2017-01-05 10:09] #23 closed

[2017-01-05 10:21] loedeman commented on #21
Hi @eugenekgn,

I think I partly understand what you are trying to do. What is going wrong obviously, is the following: when you map destination member a and ignore the same destination member afterwards, the result will be that there is no A.a property at all. You could of course try to ignore the source member (forSourceMember) instead, although I don't get why you should need that as well ;) ..

[2017-01-05 10:21] #21 closed

[2017-02-01 23:08] spinwards opened #25 "Does not work with node.js and typescript 2"
The issue reported in #16 has not been addressed and is preventing me from using automapper-ts in a project.

The most recent comment has the solution:

I made the changes locally in my node_modules folder and can confirm that this allows the library to be imported as expected.

[2017-02-02 15:22] Frankst2 opened #26 "Empty object when the mappings return undefined for the object properties?"
I noticed the automapper creates an empty object when all the mapped properties of an object are undefined. I'm not sure if this is by design or just an issue that's rather difficult to prevent (in a clean way).

Example:
[code]
All the mapFrom properties don't exist in the source object, so they are undefined. In the resulting output there exists an empty foo object.

[2017-02-27 11:09] valours commented on #25
Hi @spinwards
Do you have find better solution for using Automapper in your project ?

Thanks

[2017-03-01 21:35] spinwards commented on #25
I ended up writing a function to create my objects.

[2017-03-21 11:46] ialex90 commented on #17
File 'C:/xx/xx/node_modules/automapper-ts/dist/automapper.d.ts' is not a module.)

I just followed all your steps carefully and it seems to not be working.

[2017-03-21 13:58] loedeman commented on #17
Hi @ialex90, could you please clarify your situation? It sounds like you are trying to import the definition file itself, which indeed is not a module. The steps mentioned above should do the trick with Angular 2 (https://github.com/loedeman/AutoMapper/issues/17#issuecomment-255330700).

[2017-03-21 17:23] ialex90 commented on #17
Ey @loedeman thanks for replying, I couldn't make it work and I followed those steps.

so few questions are coming to me like,
"Import the module created in step 2 in your module/component file: import { } from 'automapper-ts';"

When you mentioned that, what do you mean by 'import the module created in step2'? because in step 2 you say to write on the typings the line to declare the module for th

[2017-05-09 13:11] loedeman commented on #26
Hi @Frankst2,

Sorry for reacting so late. It has been quite a busy time over here lately ;) . This is indeed a very complex problem to solve properly. The most efficient way to overcome this problem would probably be:

1. Create a hidden property (e.g. __propertiesSet: boolean) on the destination object when a property is set successfully.
2. Check for (and remove!) the hidden property just befor

[2017-05-09 13:11] #26 closed

[2017-05-09 13:17] loedeman commented on #25
Hi @spinwards and @valours,

Since this item has been open for quite a while without getting a lot of attention, I am closing the issue.

The AutoMapperTS library has not been designed explicitly for use with node.js. Most users appear to have no problem using it, though. I am not using this library in any node.js project myself, therefore reproducing, and more importantly, fixing this in a clean

[2017-05-09 13:17] #25 closed

[2017-05-09 13:20] Frankst2 commented on #26
Actually I'm not even sure anymore why I filed this issue back then ;) since actually an empty object is not a big problem, it's just what it is. So I guess I found a way to deal with this problem.

[2017-05-09 13:21] loedeman commented on #26
Top, sounds like you have found a workaround ;) . Thanks for using AutoMapperTS, enjoy!

[2017-05-28 02:55] savanvadalia opened #28 "Using Automapper for Ionic 3"
Hi @loedeman

Thanks for creating this wonderful library, can't wait to use it in my project.

I am creating a hybrid mobile app using ionic framework which is based on typescript and would like to use this library in my project.

1) I would like to know what are the steps for using this library in a ionic project. I have just installed library from npm, not sure how to go forward from here
2) Ide

[2017-05-29 06:06] loedeman commented on #28
Hi @savanvadalia,

You are welcome ;) , I hope you will enjoy using the library!

1. This library is a so-called classic library, not directly created with module systems in mind (the current ones weren't there at the moment of creation :) ). In order to use AutomapperTS in your project, you should manually load the automapper-ts file `./dist/automapper.js`, after which a global variable `automapp

[2017-05-29 06:06] #28 closed

[2017-06-08 12:04] zhvateldima opened #29 "function MapFrom - ability to receive a dynamic value instead of constant string."
Hi Bert, thank you for your lib, great job!

But I've got  a little issue with method"forMember", which receives a function as second parameter:
`mapper.forMember(propertyName1, function (opts) { opts.mapFrom("propertyName2"); } )`;

Method "forMember" ignores code that written like this:
`
let propertyName2 = gettingSomePropertyName;
mapper.forMember(propertyName1, function (opts) { opts.mapFrom(

[2017-06-08 12:12] loedeman commented on #29
Hi Dima, thanks for using AutoMapperTS and locating this issue. Since a couple of months I am aware of this issue. Unfortunately, fixing this issue means quite some hassle, since the most obvious fixes significantly impact the library's performance. Since nobody complained until now, I decided to leave the issue in there until resolving it would be absolutely necessary. Are you able to work around

[2017-06-08 12:25] zhvateldima commented on #29
Thank you for a quick answer, Bert. And of course, it's not the big problem, I left some ugly workaround ("eval" - shame on me :D) for a while, but I hope problem will be gone :)

Dima

[2017-06-08 12:26] loedeman commented on #29
I will look into it asap. I am currently quite busy at my day job, please be patient ;) . Of course, if you would like to solve the issue yourself, I will be more than happy to receive a PR :) ...

[2017-06-16 16:06] kmacmcfarlane commented on #17
I found that in order to get it working:
1) I needed to do this `npm install --save automapper-ts` instead of `npm install --save automapper`
2) As a webpack user, I needed to append the following to my vendor.ts file to load the automapper global: `import 'automapper-ts';`

[2017-06-16 16:14] loedeman commented on #17
Hi @kmacmcfarlane, thanks for your correction, you are absolutely right, can't believe I missed that typo 😉... Cheers, Bert

[2017-06-21 10:12] ialex90 opened #30 "Nested objects"
Hi there,

Thanks for the work on the library.

More than an error, just a question. Do you have any way to handle nested objects?  I saw on the documentation that the link is red and pointing somewhere else, so I assume is not implemented, can you please confirm that?

In that case, is there any workaround for nested object you would recommend?

Thanks in advance,

[2017-06-21 10:32] ialex90 commented on #30
I have a workaround which is mapping firs the parent and then mapping the child within the parent, just to know your opinion on there

[2017-06-22 07:07] loedeman commented on #30
Hi @ialex90 ,

Thanks for reaching out. Mapping nested objects (both flattening and nesting) is fully implemented in AutoMapperTS. Maintaining the wiki is quite a hassle, I apparently did not keep it up to date completely (sorry for that ;) ). Luckily, all you should need is 'documented' by a couple of Jasmine unit tests, which you can find at the following location: https://github.com/loedeman/Au

[2017-06-22 07:07] #30 closed

[2017-06-23 16:07] ialex90 commented on #30
Ouh yeah, thanks @loedeman this library rocks :)

`            .forMember('address', (opts: AutoMapperJs.IMemberConfigurationOptions) => opts.mapFrom('address'))
            .forMember('address', (opts: AutoMapperJs.IMemberConfigurationOptions) =>
                automapper.map(AddressResponse.name, Address.name, opts.intermediatePropertyValue))
`

Doing that, make the nested mapping with a previo

[2017-06-28 09:55] alejandrocoding opened #31 "Angular 4 ng build --prod does not work"
Hi @loedeman

I could make your lib work in a Angular v4 project + CLI and it seems great!

I created a service where I am loading configurations for every module to register the mappings and then, just using automapper.map works smoothly.

However, I have the problem that if I run "ng build --prod" with the Angular CLI, all the values are coming as empty, so in a table of 7 rows, I get those 7 ob

[2017-07-06 09:43] jphilippakos opened #32 "Can't override default values...."
Since the typescript 2.4 update, it seems like the entire logic behind automapper has changed, which causes many breaking changes. The first was that while in the past, the source object was the standard, and all properties got copied, now the target comes first and only those properties you declare in your class will be copied. While I do not feel that this is the best logic for js/ts, it is easy

[2017-07-06 12:21] loedeman commented on #32
Hi @jphilippakos, thanks for getting in touch! I am not entirely sure I do understand what you are saying. I am not aware that I changed logic at all lately. Are you suggesting the JavaScript of the latest NPM package is behaving differently compared to other releases? Or are you using AutoMapper TypeScript source code directly in your project, resulting in any unexpected behavior? Cheers, Bert

[2017-07-06 12:25] loedeman commented on #31
Hi @ialex90, thanks for reaching out. I would be glad if you could create a project for me to recreate the error. I am afraid I cannot fully understand your issue without it, actually ;). I am afraid the Angular optimizations kicking in when building production mode is messing up with AutoMapperTS, I am curious to discover what the actual problem is and how/if it could be fixed. Hope to hear from

[2017-07-07 08:19] jphilippakos commented on #32
Hi, sorry, I should have been more clear! It wasn't a recent change, we just recently ran into it since we had put off updating for a while.  The change was from 1.7.3 to 1.8.0. Before that update, all properties from the source object were copied (or ran through forMember), regardless of the structure of the target class. Ever since that update, it only copies properties that are declared in the

[2017-07-10 09:07] loedeman commented on #32
I think I get your point. I was not aware of this behavior at all. In other words, you were using a hidden gem ;) ... Would it be helpful to create a function like the (existing) counterpart `ignoreAllNonExisting`?

[2017-07-10 09:37] jphilippakos commented on #32
so an overrideExisting flag? That would definitely do the trick.... Especially if we can also make it a global setting when initializing automapper :)

Thank you!

[2017-07-11 23:55] LWB-MatJ opened #33 "Error: Impossible to use asynchronous mapping using automapper.map(); use automapper.mapAsync() instead"
Hi,

I'm getting the following error even though my mapping function is not async. I'm using the mapFrom method.

Error: Impossible to use asynchronous mapping using automapper.map(); use automapper.mapAsync() instead

I've tracked the issue down to automapper.js in the dist folder.

See below. The async property is getting set to true if there are 2 parameterNames. I'm not sure what parameterName

[2017-07-12 00:00] LWB-MatJ commented on #33
I'm having trouble uploading a screenshot. It's located on line 129 in the method AutoMapperHelper.getMappingMetadataFromTransformationFunction in file dist/automapper.js

[2017-07-12 00:51] LWB-MatJ commented on #33
I was using an arrow function and this throws the getFunctionParameters out of wack. I will change to using  proper functions

[2017-07-12 06:52] loedeman commented on #33
Hi Matt,

Could you please post your mapping code resulting in this exception? It would help investigating and/or clarifying the problem you are facing ;) ...

Cheers, Bert

[2017-07-13 00:44] LWB-MatJ commented on #33
Hi Bert,

Using arrow functions it doesn't seem to be determining the number of parameters correctly
see below

`const automapper = require('automapper-ts')

automapper.createMap('input', 'output')
  .forMember('outputProp', opts => mapFromNullable(opts, 'input'))
  .ignoreAllNonExisting()

console.log(automapper.map('input', 'output', { inputProp: 'Test Prop' }))`

To be honest it's no big deal.

[2017-07-27 09:20] hirikarate opened #34 "Mismatched sourcemap automapper.js.map"
Version: 1.8.2
IDE: Visual Studio Code 1.14.2

When I removed file `automapper.js.map` from folder `node_modules/automapper-ts/dist`, the step debugger (F11) correctly jumps to first line of the `map` function. As you can see in screenshot, it is line 1004 in file `automapper.js`.

![image](https://user-images.githubusercontent.com/5905553/28663305-328971b2-72e7-11e7-881d-c2b31d94272f.png)

In con

[2017-08-04 11:35] hirikarate commented on #33
I found the root of this issue. Lucky me, I was about to register the same issue with `forSourceMember`.

In function `AutoMapperHelper.getFunctionParameters`, the author intends to count the number of parameters of `forMember`'s callback:

`opts => mapFromNullable(opts, 'input')`

, which in this case should be 01 (`opts`). However the function makes mistake and counts number of params in `mapFro

[2017-08-09 13:46] gdovicak commented on #33
I experienced the same issue. Moving from arrow function expressions to function expressions fixed this for me as well.

[2017-08-17 10:39] appsolutegeek opened #35 "Destination member configured but does not exist on destination."
Hi,

I was using automapper by creating maps using strings before but I wanted to use the assetConfigurationIsValid but its reporting errors that I do not think are correct.

I got the following error.

[code]

My map is a very simple createMap for testing, I have removed all others to ensure I get a good test result. Here it is

[code]

It states that the currency isn't available. Although I know

[2017-08-18 22:51] dbones opened #36 "npm + typescript - import issue (example would be exellent)"
Hi can you provide a Typescript + npm example using either a web project (Angular 2+ or Aurelia) or Node.JS, does not really matter which one as the code to "import" it would be similar.

#25 <- this is very close to the issue i'm actually having, i'm currently developing a Aurelia web app.

if it helps im using VS Code as the Editor.

(ps thanks for doing this project, it should save me a ton of

[2017-08-18 23:00] dbones opened #37 "Map (src, des)"
possible enhancement

Map(srcType: string, destType: string, src: any, dest: any)

where it will override any differences from the src to the existing dest.

mainly to keep the same instance of the dest object (want 2 way binding to automatically update, as it will be observing the dest obj instance)

[2017-08-24 18:38] lucaritossa opened #38 "How to run tests?"
I'm facing with a problem about the "ConvertToType" method and I'd like to try your unit tests with some little bit change.

Please consider I'm a newbie... so sorry for my stupid question:
I cloned your project, run "npm install" and now?

I've tried to run "karma start" but it doesn't find any test.

Could you help me?

Thx in advance!!!

[2017-08-25 04:28] lucaritossa commented on #38
Ok, solved... **gulp** is the answer.
You defined your build/test script into GulpFile.js

[2017-08-25 06:45] loedeman commented on #38
Hi @lucaritossa, thanks for giving the library a chance. Glad to see you already solved your own challenge ;). Happy coding!

[2017-08-25 06:45] #38 closed

[2017-08-25 09:31] lucaritossa opened #39 "Property type changes at DestinationType"
I think this is to be considered as a bug...

Based on unit test '**should ignore properties on source object missing on destination object type Definition**' defined into **automapper-map-specs.ts**

I found that the **keep** property of DestinationType class changed from string to boolean after the mapping.

In a "typed world" (I'm coming from C#) this is not accepted.

I know the magic world of

[2017-09-01 14:52] loedeman commented on #35
Hi @appsolutegeek, thanks for creating an issue.

Before I try answering your question, please note validation is only a very early version of validation. I have been asked to implement validation a long while ago, but using validation in JavaScript has its (serious) limitations.

The sample that fails on you clearly shows one of those limitations. Only defining a TypeScript property does not resu

[2017-09-01 14:52] #35 closed

[2017-09-01 14:58] loedeman commented on #32
Hi @jphilippakos, if the problem still occurs, could you please attach a small piece of sample code (a source and destination class, the mapping registration and calling code) to make this easier to reproduce for me?

[2017-09-01 15:37] loedeman commented on #33
Hi @LWB-MatJ , @hirikarate and @gdovicak ,

I am unable to reproduce your issue using TypeScript. The TypeScript compiler compiles arrow functions to plain JavaScript functions at all times. At least, that is what happens with me. A couple of questions:

1. Are you using Typescript to write front-end code?
2. Which compiler target are you using? Is it possible that your resulting code still has ar

[2017-09-01 16:14] loedeman commented on #34
Hi @hirikarate , this should be fixed in v1.8.3... Cheers!

[2017-09-01 16:14] #34 closed

[2017-09-02 14:04] loedeman commented on #36
Hi @dbones ,

Thanks for your interest in the AutoMapperTS library. The library has been created quite a long while back (at least, speaking web ;)). When I created the library, the file import syntax was not that common.

I answered a question similar to yours at StackOverflow a while ago, I hope it helps you as well: https://stackoverflow.com/questions/40138293/importing-automapper-into-a-angula

[2017-09-02 14:04] #36 closed

[2017-09-02 14:06] loedeman commented on #37
Hi @dbones , thanks for your suggestion. Currently, I do not have enough spare time to create this functionality. Feel free though to implement this functionality yourself and file a PR ;) ... Regards, Bert

[2017-09-02 14:06] #37 closed

[2017-09-02 14:09] loedeman commented on #39
Hi @lucaritossa , thanks for discovering this bug. Although it is 'valid' to produce this kind of functionality in JavaScript, I also tend to consider it a bug. I will give it a thought and will try to fix this behavior in an upcoming version of the library if the performance penalty is not too high (probably by trying to compare runtime types). Cheers, Bert

[2017-09-03 19:31] lucaritossa commented on #31
I'm facing with a similar issue.
I'm working with an angular v4 project with webpack.

My "createMaps" are all based with a **string sourceKey** and a **classType destinationKey** pattern. The "convertToType" fluent method is not needed in this case because it automatically return my destination classType.

[code]
But this creates strange behaviour when using "prod" flag: wrong classes mapped.

I

[2017-09-14 12:51] jphilippakos commented on #32
I'm sorry for my delayed response. Using the latest version (1.8.3) or automapper-ts I haven't seen a difference.... Here is my sample code....

[code]
This is what I get....
SampleClass { propA: 'class Property A', propC: 2017-01-09T22:00:00.000Z }

However I expect to get...
SampleClass { propA: 'source Property A', propC: 2017-01-09T22:00:00.000Z }

(or even better....)
SampleClass { propA: 'cl

[2017-09-21 04:00] hirikarate commented on #33
Actually I am using automapper-ts for NodeJS backend code and it works pretty well except this issue (kind of minor one). Here is my tsconfig:
{
[code]

[2017-09-22 09:57] bpkinez commented on #17
If you want to use automapper-ts npm module with webpack directly instead of angular-cli you must follow these steps:

1) Install module with `npm install --save automapper-ts`

2) Define automapper as global variable inside plugins array in webpack.config.js:

[code]

3) In your component where you want to use automapper functionalities do following (e.g. Angular component):

[code]

[2017-09-22 13:17] loedeman commented on #17
Thanks for your help, @bpkinez !

[2017-10-09 13:04] mamukundan opened #40 "New instance of nested object is not created instead the original is referred in the destination"
In the below example, a new Address object is not created and populated with values and then attached to the personDTO object. Instead, the address object, that is attached to the person is referred in the personDTO object as well.

'use strict';

import { expect } from "chai";
import { } from "automapper-ts";

it('should map nested objects correctly', () => {
        class Person{
            nam

[2017-10-10 04:34] jboarman-ap commented on #28
Hi @savanvadalia, Were you ever able to figure this out?  I've gone through the steps as well and there is no _typings.d.ts_ file to `declare module 'automapper-ts';`.  I've tried wiring this is using `typeRoots` within _tsconfig.json_, but I'm still missing something.

[2017-10-25 14:43] gdovicak commented on #33
I am doing the same as @hirikarate and am not using Typescript. #2 would explain the issue I am seeing.

[2017-10-25 14:49] loedeman commented on #33
Hi @hirikarate and @gdovicak ,

Unfortunately, AutoMapperTS does not fully support ES2016 (yet). The workaround in this scenario is to use a classic EcmaScript 5 function (e.g. function(opts) { ... }) instead for those mapping scenarios.

Please feel free to fix the problem and file a PR, should one of you have a little bit more spare time than I currently have.

Cheers, Bert

[2017-10-30 15:11] themauveavenger opened #41 "node.js Profile usage?"
Hello! I'm having trouble figuring out how to get Profiles working when using node.js. Given this example:

[code]
I am getting the following error: ```TypeError: Class extends value undefined is not a constructor or null```. Which sounds like ```Profile``` is not being exported? Can anyone point out what I'm doing wrong?

[2017-11-18 21:24] Toilal commented on #32
Same issue here. I run TypeScript 2.6.1.

Default values defined in classes are kept instead of being overriden during the mapping result.

[2017-11-18 23:03] Toilal commented on #32
After debugging the unit test from #42, the issue is caused by this condition :

https://github.com/loedeman/AutoMapper/blob/8b3a230755814233acbd838abc5718a5636cbc46/src/ts/AutoMapperBase.ts#L88-L90

Comment seems to indicate an absuption that is wrong when using default value in classes.

[2017-11-18 23:18] Toilal commented on #32
The issue only occurs when property is not configured on the mapping.

Adding `.forMember('prop', opts => opts.mapFrom('prop'))` to the mapping configuration should help to workaround the issue.

[2017-11-18 23:57] #32 closed

[2017-11-19 14:32] Toilal opened #43 "null values are transformed to undefined during mapping"
null values should be mapped as null, currently it seems they are not mapped at all.

[2017-11-19 14:38] Toilal commented on #43
Wrong, it works as expected :)

[2017-11-19 14:38] #43 closed

[2017-11-19 14:58] Toilal opened #44 "Calling map with a null/undefined source object returns an empty object"
I'm not a .NET AutoMapper user, but I think this behavior is not expected and probably not implemented in .NET AutoMapper.

[code]

[2017-11-20 01:05] abhishekbiyala opened #46 "npm install automapper-ts downloads an extremely bloated __node_modules of size ~78MB"
`npm install automapper-ts` downloads an extremely bloated nested __node_modules of size ~78MB. Is this normal? I am using npm version 3.10.10.

[2017-11-21 12:48] #44 closed

[2017-11-21 12:58] loedeman commented on #46
Thanks @abhishekbiyala for noticing this issue. I removed the __node_modules folder locally and published a new version to NPM which should be a lot smaller ;).

[2017-11-21 12:58] #46 closed

[2017-11-23 20:08] cdunford commented on #41
We are seeing the same thing when trying to use this in a front-end angular app.

[2017-11-23 20:08] afontaine commented on #41
It seems this is also the case in the browser as well.

![image](https://user-images.githubusercontent.com/3373136/33187513-2d4cbdcc-d060-11e7-95cf-ccb2640df020.png)

[2017-11-24 06:24] #41 closed

[2018-01-18 03:48] alonstar opened #48 "About using convertToType"
I want to use convertToType and copy all properties, how should I do ??
The code below will return an object DemoToBusinessType but no property.

	class DemoToBusinessType {

	}

	//arrange
	var objA = { ApiProperty: 'From A' };

	var fromKey = '{7AC4134B-ECC1-464B-B144-5C9D8F5B5A7E}';
	var toKey = '{2BDE907C-1CE6-4CC5-A601-9A94CA6C4737}';

	automapper
		.createMap(fromKey, toKey)
		.convertToType

[2018-01-22 10:42] lucaritossa commented on #48
Your **DemoToBusinessType** does not have any properties defined.
Automapper does not have nothing to map using the "property-name-convention".

You should try something like this:

[code]

[2018-01-23 06:54] alonstar commented on #48
I got it, thanks.

[2018-01-23 06:54] #48 closed, assigned to nobody

[2018-02-11 02:37] asanchez128 commented on #17
My two cents to this conversation:

In your tsconfig.json file make sure that you have the following:

I did not have the typings.d.ts file included in the "typeRoots" array. HTH.

[2018-02-11 02:41] asanchez128 commented on #28
My two cents to this conversation:

In your tsconfig.json file make sure that you have the right path for your typings.d.ts file

[2018-02-24 05:20] nartc opened #49 "AutoMapperJs is not defined"
Hi,

I've been trying to get `automapper-ts` to work with my Node Express backend. Everything works fine but I can't seem to implement external `Profile` files.

As seen in the screenshot, I keep getting `AutoMapperJs is not defined`. Not sure how to resolve this.

**UserProfile.ts**
![UserProfile.ts](https://user-images.githubusercontent.com/25516557/36625981-b24a3c7a-18ef-11e8-8d97-3769cf79b3c5.

[2018-03-14 15:38] ghost opened #50 "Several pages on the wiki are not accessible"
The following wiki pages redirect to the home wiki page with an error "You do not have permission to update this wiki"

- Mapping performance
- Validation (assertConfigurationIsValid)
- Naming conventions
- Asynchronous mapping
- Flattening and nesting

The permissions should be updated so we can view the documentation for these features.

[2018-03-14 20:12] loedeman commented on #50
Hi @heilc,

I am afraid those wiki pages have been thought about a long time ago, but I simply forgot to write any actual content... Since I am very busy on my day time job, I am afraid I will not be able to resolve this any time soon.

Mapping performance measuring and mapping validation have been implemented in a very (!) basic way. I got asked about those two once, but there seems not to be a l

[2018-03-14 20:12] #50 closed, assigned to nobody

[2018-03-14 21:55] ghost commented on #50
Thanks for responding! That makes sense. I would make one request then based on your reply. Could you create an empty page with a generic "TODO" or something along those lines? It would avoid confusion in the future, and if someone out there wants they could create a PR and add content themselves

[2018-03-14 22:48] loedeman commented on #50
Hi @heilc, thanks for your suggestion. Those pages have been created ;) . Of course, a PR would also be welcome :) . Cheers!

[2018-04-25 14:01] nitimmerman commented on #31
Hi @lucaritossa
Thanks for pointing this out.
You steered me in the right direction.
the webpack -p option does by default mangle your code but you can override that by specifying the uglifyjsplugin options in your webpack config file and omitting the -p option.
this solved it for me:

`
new UglifyJSPlugin({
            cache: true,
            uglifyOptions: {
                beautify: false, //p

[2018-05-15 11:32] ErBhautik opened #51 "How to map complex inner list."
How to map complex inner list. I have two complex class with child list.
export class ClassOne {
    public firstName: string;
    public lastName: string;
public list: ClassThree[];
}

export class ClassTwo {
    public firstName: string;
    public lastName: string;
    public list: ClassFour[];
}

export class ClassThree {
    public hobbyID: number;
    public hobby: string;
}
export class Cla

[2018-08-01 09:14] Sir-J commented on #49
+1

[2018-08-01 10:53] Sir-J opened #52 "Problem with `withProfile`"
Function `withProfile` don't return `ICreateMapFluentFunctions` and i can't do this:

[code]
How can I do this?

[2018-08-01 12:13] Sir-J commented on #52
Find another problem with `withProfile`.  I have the class:

[code]

If i using the map function in result i having:
[code]

[2018-08-07 23:26] rasikas commented on #49
I have similar issue when trying to create custom converter

[code]

it gives the error
[code]

[2018-08-07 23:56] rasikas commented on #6
Im not sure what Im doing wrong here, but I still get an array with empty objects. when using `convertUsing()`

[2018-08-27 13:09] takato1314 opened #53 "Mapping of array of an object type using CustomTypeConverter returns empty object"
Hi, thank you for the great library, though I just have a small issue here.

I am trying to use the CustomTypeConverter as specified here for my complex mapping logic:
https://github.com/loedeman/AutoMapper/wiki/advanced%3A-type-converters

While working on it, i notice that the mapping of the array of a particular object returns empty object, instead of expected mapped array of the object.

Here'

[2018-10-05 10:21] KlausHans opened #54 "No mapping in Edge when using withProfile or static initialize"
Hello,

we have an Angular 6 webapp and we use your automapper, thank you very much.

In a refactoring task we started to use the .withProfile functionality. I created the profiles in a seperate file/class. But after a while we discovered, that the automapper does not work in the Edge browser anymore.

I then tried to mimic the profiles by creating static functions, that only call automapper.creat

[2018-10-05 10:34] loedeman commented on #54
Hi @KlausHans,

Thanks for reaching out. I am not aware of specific browser limitations. Based on what you suggest, could it be you did not actually load the profiles? AutoMapper is not yet built with a module system in mind, so extra files needed should be loaded by yourself...

Cheers, Bert

[2018-10-05 11:29] KlausHans commented on #54
Thank you for the quick answer. It works perfectly in Chrome, Firefox and Safari. In these browsers the models get mapped with the profile. I think the automapper initializing is correct.
Maybe i have the time next week to provide a minimal Angular project. Would it help?

[2018-10-05 11:46] loedeman commented on #54
That sure would help understanding the situation a lot! Of course, if you find a solution when creating a reproduction scenario, feel free to file a PR instead 😉.

________________________________
From: KlausHans <notifications@github.com>
Sent: Friday, October 5, 2018 1:29:13 PM
To: loedeman/AutoMapper
Cc: Bert Loedeman; Comment
Subject: Re: [loedeman/AutoMapper] No mapping in Edge when using wit

[2018-10-18 09:49] mikelweb opened #55 "Problem with Angular CLI 6"
Hi,
I'm using Angular CLI 6, and I don't get automapper to work.
Could you please provide a step by step integration guide for Angular CLI?? or help me to get it working.
the browser's console tells me  "ReferenceError: automapper is not defined"

I don't know how and where to place the import statement, since
`import {} from 'automapper-ts';
`
gives an error saying that is not a module.

Thanks a

[2018-10-18 14:37] loedeman commented on #55
Hi @mikelweb,

I assume the workaround provided in a previous issue still applies: https://github.com/loedeman/AutoMapper/issues/17. Could you please try that one? As I already mention over there, AutoMapperJS is not built with module support in mind (which were not available when starting AutoMapperJS). Using the global automapper variable should still work, though.

Cheers!

[2018-10-18 14:37] #55 closed, assigned to nobody

[2018-10-22 07:45] mikelweb commented on #55
Thx a lot @loedeman

[2018-10-29 16:30] mikelweb commented on #17
In Angular 6 there's no webpack file

In Angular 6 there's no webpack config file... And I don't know how to include it
any clue?

[2018-11-05 13:21] CameliaTrif opened #56 "Arrays mapping is not working"
Hi,

It seems that mapping arrays using the automapper-ts library doesn't work for me.
Let's take this simple example. I have an interface called UserData and a class called User and I'm trying to map UserData to User.
export interface UserData {
  username: string;
  myList: number[];
}

export class User {
  username: string = '';
  myList: number[] = [];
}

In appcomponent (I am working with an

[2018-11-05 18:05] philippfx opened #57 "How to map array of strongly typed objects in a one liner?"
Hi,

Great library, I love it!

I am stuck at mapping an array of objects in a one liner. I want to achive something like this (pseudo code):
[code]
where `sourceArray: SourceType[]`

How can I map it in a one liner?

So far, my workaround is looping through the sourceArray and mapping each element individually:
[code]

[2018-11-09 10:14] CiprianDraghici commented on #16
I posted a message as an workaround on stackoverflow: https://stackoverflow.com/a/53223669/7745982

[2018-11-10 14:49] mplgn commented on #17
@mikelweb Here is how I got this to work in Angular 6:

Install from npm, be sure to use the --save option
[code]

Add the declaration in src/typings.d.ts.   If the typings file does not exist, create it (it's not created by default with Angular 6 CLI)
[code]

If you added the src/typings.d.ts file, you'll need to add it to tsconfig.json typeRoots:
[code]

Add minified source to angular.json scrip

[2018-11-13 22:15] loedeman commented on #16
Thanks for your help, @cipriandraghici93 #h5yr!

[2018-11-13 22:18] loedeman commented on #17
Wow, @g8rdev, Thanks a lot for your thorough explanation! Thanks a lot for helping out this way, #h5yr!

[2018-11-15 11:38] mikelweb commented on #17
Great! Thank you so much for such a good tutorial of how to do it!!!

[2018-12-19 14:02] GravlLift commented on #57
Have you tried?
```let destinationArray: DestinationType[] = sourceArray.map(s => automapper.map(SourceType.name, DestinationType.name, s));```

[2019-01-08 03:31] sariroti opened #58 "React Reference Error automapper is not defined"
Hi All,

Im trying to using automapper in react using CreateReactApp boilerplate.
build is fine but when running / start the app this error always appear.

Is there any setting that i must do ?

Thanks.
![untitled](https://user-images.githubusercontent.com/30611849/50808308-755e8f00-1330-11e9-90cc-9fc79d437209.png)

[2019-01-17 10:38] aslanovsergey opened #59 "ReverseMap"
Hello,
Is there a ReverseMap functional or how I better do this?

[2019-01-17 11:49] loedeman commented on #59
Hi @aslanovsergey, unfortunately there is not. Since there is no real type safety in the resulting Javascript code, it would be really hard to implement. You are most welcome to give it a try though ;) . Otherwise, I assume you have no other option than to manually specify both ways... Cheers!

[2019-01-17 11:49] #59 closed, assigned to nobody

[2019-01-17 13:12] aslanovsergey commented on #49
Same problem. Has anybody solved?

[2019-02-28 18:55] prabinv commented on #56
I was able to get it to work by adding an explicit mapping for the property.

[code]

Also, make sure you are specifying the correct keys in the `map()` method call.
[code]

[2019-05-10 19:21] rageycomma commented on #33
This is absolutely still an issue. Particularly if you are using prettier/eslint/beautify, which will remove `function(){}` definitions and replace them with arrow functions.

[2019-05-18 06:18] oehm-smith commented on #40
Eeeks, can you format this @mamukundan and show the output?

[2019-05-22 10:01] 18549 commented on #57
If this library is supposed to be a direct port of the .Net AutoMapper then this should work out of the box without having to map collections manually. If it doesn't then that's a massive shortfall.

[2019-05-22 10:07] Neutrino-Sunset commented on #57
This library is supposed to be a direct port of the C# AutoMapper which handles collections automatically. If this library doesn't then that's a glaring omission.

[2019-05-22 10:10] Neutrino-Sunset opened #60 "How is mapping of nested properties in collections performed?"
Given this

[code]
How do I create a mapping that adds another property to the objects in the collection?

[code]

[2019-07-26 15:03] misaelsz commented on #17
Angular 7 not work theses steps

[2019-07-26 15:28] misaelsz commented on #17
the following error occurs:
![image](https://user-images.githubusercontent.com/29647393/61962799-bd799200-afa0-11e9-801a-72a388041050.png)
Please help me

[2019-07-26 15:30] misaelsz opened #61 "Using AutoMapper Angular 7 Error: Unable to extract class name from type 'undefined'"
After i follow all steps on this issue Using AutoMapper in Angular2 #17. the follwing error occurs.
![image](https://user-images.githubusercontent.com/29647393/61963426-ecdcce80-afa1-11e9-99fa-bdbd9f2dde02.png)

[2019-07-26 15:58] misaelsz commented on #61
Issue #7 resolved the problem.

[2019-07-26 15:58] #61 closed, assigned to nobody

[2019-08-14 15:27] shaycraft commented on #60
I think you can't.  Only way I've been able to do this, is to create a mapping for the type in the array, and then iterate over the array and call automapper.map individually.

[2019-09-05 02:50] dantehemerson opened #62 "Error importing Automapper: automapper.d.ts is not a module"
I'm importing automapper:
![Screenshot from 2019-09-04 21-26-58](https://user-images.githubusercontent.com/18385321/64307349-6aa9d780-cf5b-11e9-97f5-09807fb57a89.png)

and I got the next error:
**`automapper.d.ts' is not a module`**
[code]

[2019-12-20 14:39] phapdinh opened #63 "Automapper not working on nondebug mode of React Native"
I am using Automapper 1.9.0 with react-native 0.61.1 and when I try to map response data from the API in nondebug mode of React Native, it is not mapping the data properly. The non debug mode is running the javascriptcore compiler while the debug mode is running the v8 compiler

[2020-01-05 11:42] MuizMahdi commented on #62
Did you solve the issue?

[2020-01-12 06:39] dantehemerson commented on #62
@MuizMahdi Now, I'm using this fork library https://github.com/nartc/automapper-nartc

[2020-01-17 10:05] MuizMahdi commented on #62
Thank you!

[2020-01-21 11:59] urko-b opened #64 "mapper not working when adding extra logic in forMember()"
Hi @loedeman I have some trouble using automapper on node js project. When I add extra logic on mapper it's not working, It is also not stopping on breakpoints. I'll attach a video:

My mapper:

[code]

The code where I am using the mapper
[code]

![image](https://user-images.githubusercontent.com/11888892/72802660-91d41d80-3c4c-11ea-8068-f383e7a879f5.png)

As you can see in this picture, after ma

[2020-01-24 11:44] djmulder opened #65 "Mapper won't map fields if they are not defined with ForMember"
As default functionality I'd expect fields to be mapped if they are equal on source and destination, but this is not the case. Unless I spefically do a forMember per field all fields are ignored, even when using forAllMembers this happens.

[2020-04-13 11:49] rushisharma commented on #61
Is it necessary to assign blank values in string parameter of class?

Because it is not mapping parameters that are string without assign default values in it.

for ex,

not mapping when class is,

class destination {
id : string,
name :string,
address :string
}

we need to assign default values like,

class destination {
id : string='',
name :string='',
address :string=''
}

Any solution so that

[2020-04-13 11:56] rushisharma opened #66 "It is not mapping parameters that are string without assign default values in it."
Is it necessary to assign blank values in the string parameter of class?

Because it is not mapping parameters that are string without assign default values in it.

for example,

not mapping when class is,

class destination {
id : string,
name :string,
address :string
}

we need to assign default values like,

class destination {
id : string='',
name :string='',
address :string=''
}

Any solution

[2020-07-14 09:32] abouroubi commented on #65
I noticed this behavior only when I add 'convertToType()' for strong typing of the result object, otherwise everything works just fine.

[2020-07-26 13:02] gognjanovski commented on #56
Best solution that I found is:
`export class User {
username: string = '';
myList: number[] = undefined as any;
}`

[2020-08-04 15:42] #31 closed

[2020-09-05 21:31] DrJuriko commented on #33
It is something terrible… I spent 2-3 hours to understand why Angular 7 to 9 migrated project doesn't work! Issue is still here and needs to be fixed!

[2020-09-08 08:20] n-loznjakovic-levi9-com commented on #33
Hi,
I used @gonza-lito fork on my project, and also I created PR there to fix incompatibility with arrow-functions. Maybe you can check that PR to fix the issue on your side.
https://github.com/gonza-lito/AutoMapper/pull/1
The main change has been done here: https://github.com/gonza-lito/AutoMapper/pull/1/files#diff-e48398614b3d36beb47c5d3ae5f42b7e

[2020-09-08 20:51] DrJuriko commented on #33
Thank you, works fine... in readme you wrote that "Remove global scope variable", please, provide at least a minimal description for suggested usage...

[2021-02-09 17:18] lixaotec opened #67 "Is this project Dead?"
Hey folks,

Its seem a long time since updates on this project.. is this a dead project?

Thanks

[2021-02-09 17:36] patrykdawid commented on #67
I don't know if this project is dead (though it looks to be). However, I know another one that is actively developed: https://github.com/nartc/mapper

[2021-02-09 18:26] loedeman commented on #67
Hi, I still love the project. However, I think it is technically dead indeed 😀. The alternative mentioned above is a good suggestion. Originally, this repo also was based on a port, although it has been completely rewritten since.

[2021-02-09 22:59] lixaotec commented on #67
Thanks @patrykdawid and @loedeman !
As the owner confirms it, Ill close this comment.

Keep on rocking!

[2021-02-09 22:59] #67 closed, assigned to nobody

[2021-12-31 06:14] kabeersak opened #68 "Current Automapper with jquery version 3.4.1 leads to vulnerability"
We are using Automapper in our application. In that, jquery version 3.4.1 is used which fails in vulnerability testing. So we need a updated version of Automapper with the latest version of jquery in it. Can anyone provide solution to this?